@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Onest:wght@100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
.genre-legend {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dua kolom dengan ukuran sama */
    gap: 10px; /* Jarak antara kolom */
    margin-top: 30px;
    margin-left: 30px;
}

.genre-column {
    display: flex;
    flex-direction: column; /* Tampilkan item secara vertikal */
}

.genre-item {
    font-family: 'DM Sans';
    display: flex;
    align-items: center;
    margin-bottom: 4px; /* Spasi antara item */
}

.legend-circle {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    margin-right: 8px;
}

/* Style untuk setiap genre menggunakan kelas unik */
.legend-circle-0 {
    background-color: #455EFF; /* Action */
}

.legend-circle-1 {
    background-color: #878EFE; /* Drama */
}

.legend-circle-2 {
    background-color: #581E9D; /* Comedy */
}

.legend-circle-3 {
    background-color: #7159FE; /* Horror */
}

.legend-circle-4 {
    background-color: #0E00A2; /* Documentary */
}
